@model IEnumerable<AdvancedAccountingCustomerTracker.Models.Accountant>
@{
    ViewBag.Title = "Accountants";
}

<h2>Accountants</h2>


<table>
    <thead>
        <tr>
            Name
        </tr>
    </thead>

@foreach (var accountant in Model)
{
    <tr>
        <td>
            @Html.ActionLink(accountant.Name, "AccountantForm", "Accountants", new { Id = accountant.Id}, null)
        </td>
    </tr>
}
</table>
